* {
	font-family: 'Raleway', sans-serif;
}

body {
	padding-top: 40px;
}

@media (max-width: 768px) {
	body {
		padding-top: 2.6em;
	}
}

.jumbotron {
	background-image: url("../Images/homepage.jpg");
	height: 500px;
	background-size: 100% 100%;
}

@media (min-width: 768px) {
	.jumbotron {
	margin-top: 75px;
	margin-right: 125px;
	margin-left: 125px;	
	}
}

.jumbotron > .container {
	color: #ffffff;
	text-shadow: 0 1px 10px #000, 0 0 30px #000;
	padding-top: 100px;
}

@media (max-width: 768px) {
	.jumbotron > .container {
		margin-top: -1.5em;
	}
}

.navbar-header > .navbar-toggle {
	margin-top: 17px;
}

.navbar-default {
	
}

.picture-container {
	margin: 15px;
}

.picture-container img {
	border-radius: 50%;
	border: 1px solid #000;
}	
.navbar-nav > li > a {	
	font-size: 22px;
	margin-top: 15px;
}

@media (device-width: 768px) {
	.container > .navbar-header {
		height: 10px;
	}
	.navbar-header > a {
		font-size: 10px;
	}
}



.navbar-nav > li > a::after {
  content: '';
  background-color: #eea032;
  height: 3px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 0%;
  margin-top: 15px;
}

.navbar-nav > li > a:hover::after {
	animation-name: line-animation;
  	animation-duration: 0.5s;
  	width: 100%;
}

@keyframes line-animation {
  from { width: 0%; }
  to { width: 100%; }
}


.navbar-header > a {
	font-size: 20px;
	margin-top: 15px;
	position: relative;
	font-family: 'Raleway', sans-serif;
}

#navbar-collapse > .btn {
	margin-top: 25px;
	font-weight: bold;
	font-family: Arial;
	border-radius: 5%;
	border: 2px solid #ffffff;
	margin-left: 50px;
}

.aboutus-spacing {
	letter-spacing: 1px;
}

.howitworks-spacing {
	letter-spacing: 1px;
}

.gallery-spacing {
	letter-spacing: 1px;
}

.features-spacing {
	letter-spacing: 1px;
}

.faq-spacing {
	letter-spacing: 1px;
}

.contact-spacing {
	letter-spacing: 1px;
}

.howitworks-spacing::after {
	border-bottom: 2px solid #eea032;
    content: '';
    display: block;
    width: 40px;
    margin-top: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 15px;
    margin-bottom: 15px;
}

.contact-spacing::after {
	border-bottom: 2px solid #eea032;
    content: '';
    display: block;
    width: 40px;
    margin-top: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 15px;
    margin-bottom: 15px;
}


.faq-spacing::after {
	border-bottom: 2px solid #eea032;
    content: '';
    display: block;
    width: 40px;
    margin-top: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 15px;
    margin-bottom: 15px;
}

.features-spacing::after {
	border-bottom: 2px solid #eea032;
    content: '';
    display: block;
    width: 40px;
    margin-top: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 15px;
    margin-bottom: 15px;
}

.gallery-spacing::after {
	border-bottom: 2px solid #eea032;
    content: '';
    display: block;
    width: 40px;
    margin-top: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 15px;
    margin-bottom: 15px;
}

.aboutus-spacing::after {
	border-bottom: 2px solid #eea032;
    content: '';
    display: block;
    width: 40px;
    margin-top: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 15px;
    margin-bottom: 15px;
}

#howitworks {
	padding-top: 110px;
	margin-top: -60px;
}

#gallery {
	padding-top: 110px;
	margin-top: -60px;
}

#features {
	padding-top: 110px;
	margin-top: -60px;
}

#faq {
	padding-top: 110px;
	margin-top: -60px;
}

#contact {
	padding-top: 110px;
	margin-top: -60px;
}

#aboutus {
	padding-top: 110px;
	margin-top: -60px;
}

section > .well {
	height: 100%;
}

footer {
	margin-top: -40px;
}

.landing-carousel {
	margin-bottom: 30px;
	margin-top: -20px;
}

.carousel-caption > h1 {
	font-size: 40px;
	text-shadow: 0 1px 10px #000, 0 0 30px #000;
}

.carousel-caption > h2 {
	font-size: 24px;
	text-shadow: 0 1px 10px #000, 0 0 30px #000
}

@media (max-width: 767px) {
	.carousel-caption > h1 {
		font-size: 16px;

	}
	.carousel-caption > h2 {
		font-size: 10px;
	}
	.jumbotron {
		margin-top: 63px;
		height: 250px;
		width: 80%;
		margin-left: 32px;
	}
	.jumbotron > .container {
		padding-top: 40px;
	}
	.jumbotron > .container > h1 {
		font-size: 21px;
	}
	.jumbotron > .container > p {
		font-size: 14px;
	}
	.jumbotron .btn {
		padding-top: 5px;
		padding-bottom: 5px;
	}
	.footer {
		margin-top: -30px;
	}	
}

@media (device-width: 768px) {
	.jumbotron {
		height: 400px;
		width: 600px;
		margin-left: 82px;
		margin-top: 100px;
	}
	#my-navbar {
		margin-bottom: -30px;
	}
}

.bigmessage {
	font-size: 24px;
}

@media (max-width: 768px) {
	.bigmessage {
		margin-bottom: 20px;
	}
}

.position {
	font-size: 20px;
	font-weight: 400;
}

.marginbotplease {
	margin-bottom: 40px;
}

.gallerybottomplease {
	margin-bottom: 15px;
}

.faqmargin {
	margin-bottom: 20px;
}

.contactmargin {
	margin-bottom: 20px;
}

.landing-carousel {
	margin-top: 15px;
}

.marginfixingtime {
	margin-bottom: 45px;
}

@media (max-width: 768px) {
	.marginfixingtime {
		margin-left: .2em;
		margin-right: auto;
		width: 100%;
		margin-bottom: 4em;
	}
}

@media (device-width: 411px) {
	.marginfixingtime {
		margin-left: .7em;
	}
	.borderaroundbody1 {
		margin-left: 10px;
	}
	.bodyonindex {
		margin-left: .4em;
	}
}

@media (device-width: 435px) {
	.marginfixingtime {
		margin-left: .5em;
	}
}

@media (min-width: 768px) {
	.marginfixingtime {
		margin-top: 7.3em;
	}
}

.well h3 {
	margin-bottom: 20px;
}

.well p {
	margin-bottom: 25px;
}

@media (min-width: 768px) {
	.txtalign {
	text-align: left;
	margin-left: 4em;
	margin-top: 1.5em;
	}
	.boxalign {
	margin-bottom: 10px;
	margin-top: 1em;
	margin-left: -7.5em;
	}
	.joinbtn {
		margin-right: 4.6em;
		margin-top: 1.5em;
	}
	.findyourchef h3 {
		margin-bottom: .8em;
	}
	.becomeachef h3 {
		margin-bottom: .8em;
	}
	.form-inline > button {
	margin-left: 65px;
	}
.row > .col-md-6> h3 {
	margin-left: 100px;
	}
.row > .col-md-6 > p {
	margin-left: 100px;
	}
	.leftoverspace {
		padding-top: 5%;
	}
}

@media (max-width: 768px) {
	.boxalign {
		margin-bottom: 25px;
	}
	.leftoverspace {
		padding-top: 10%;
	}
}

.borderaroundbody {
	margin-top: -4em;
}

.footerofaboutus {
	margin-top: 2.7em;
}

.borderaroundbody1 {
	margin-top: 1em;
}

@media (max-width: 768px) {
	.borderaroundbody1 {
		margin-top: -1.7em;
		margin-bottom: 1.5em;
	}
}

.borderaroundbody > h5 {
	font-size: 24px;
	letter-spacing: 2px;
    font-weight: bold;
    text-transform: uppercase;
}

.borderaroundbody > p {
	word-spacing: 1px;
}

@media (max-width: 768px) {}
.paramission {
	padding-left: .75em;
	padding-right: .75em;
	margin-bottom: 1em;
}
}


.bordernumber2 {
	margin-top: 20px;
}

.borderaroundbody {
	border: 2px solid #eea032;
	border-radius: 10px;
}

@media (min-width: 768px) {
	.borderaroundbody {
    padding: 30px 120px;
	font-size: 16px;
	margin-bottom: 20px;
	margin-left: 20px;
	margin-right: 20px;
	}
}

@media (max-width: 768px) {
	.borderaroundbody {
	margin-left: 20px;
	margin-right: 20px;
	padding-right: 10px;
	padding-left: 10px;
	}
}


/* === BANNER === */
.banner {
    position: relative;
    max-width: 550px;
    height: 350px;
    padding: 0;
    padding-bottom: 220px;
    margin-bottom: 60px;
    margin-left: 17px;
    background-size: 100% 100%;
    border: 2px solid #eea032;  
    border-radius: 10px;
    text-align: center;
    color: #000000;
}

@media (max-width: 768px) {
	.banner {
		margin-left: auto;
		margin-right: auto;
		width: 86%;
		height: 275px;
	}
	.banner-1 {
		margin-bottom: 1.5em;
	}
}

@media (min-width: 768px) {
	.banner {
		margin-top: 2.7em;
		margin-left: 1.5em;
	}
	.p-home__banner-1 {
		margin-left: 2em;
	}
}

.banner > h4 {
	font-size: 30px;
	margin-top: .8em;
	font-weight: bold;
	color: #e60000 ;
}

.p-home__banner-1 {
    background-image: url("../Images/vr.jpg");
}

.p-home__banner-2 {
    background-image: url("../Images/homecooking.jpg");
}

.banner__text-box {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px 0;
    background: rgba(255, 255, 255, 0.5);
}

.imgadded > h4 {
	font-size: 24px;
}

.imgadded > p {
	font-size: 16px;
	margin-top: -5px;
	word-spacing: 1px;
}

.imgadded-2 > h4 {
	font-size: 24px;
}

.imgadded-2 > p {
	font-size: 16px;
	margin-top: -5px;
	word-spacing: 1px;
}

@media (max-width: 768px) {
	.imgadded {
		margin-top: 25px;
		margin-right: 20px;
		margin-left: 20px;
		margin-bottom: 45px;
		padding-bottom: 180px;
		height: auto;	
		background-size: 100% 100%;
	}
	.imgadded > h4 {
		font-size: 20px;
	}
	.imgadded > p {
		font-size: 12px;
	}
	.imgadded-2 {
		margin-top: 25px;
		margin-right: 20px;
		margin-left: 20px;
		margin-bottom: 40px;
		padding-bottom: 180px;
		height: auto;
		background-size: 100% 100%;
	}
	.imgadded-2 > h4 {
		font-size: 20px;
	}
	.imgadded-2 > p {
		font-size: 12px;
	}
}

@media (device-width: 768px) {
	.imgadded {	
		background-size: 100% 100%;
		max-width: 350px;

	}
	.imgadded-2 {
		background-size: 100% 100%;
		max-width: 350px;
	}
}

/* === HERO BANNER === */
/* CTA */
.p-home__hero-banner__cta {
    padding: 18px 40px;
    background-image: none;
    background: #EFA63F;
    text-shadow: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
}

@media (min-width: 768px) {
	.p-home__hero-banner__cta {
		font-size: 18px;
	}
}

@media (max-width: 768px) {
	.p-home__hero-banner__cta {
		font-size: 14px;
	}
}

.p-home__hero-banner__cta:hover {
    color: #fff;
}


.mealschefsweek {
	margin-top: 60px;
}

.planalessonmargin {
	margin-top: 120px;
}

.featuredmeal {
	border: 2px solid #eea032;
	padding-bottom: 40px;
	margin-left: 65px;
	margin-right: 65px;
	margin-top: 15px;
}

.findyourchef {
	border: 2px solid #eea032;
	padding-bottom: 40px;
	margin-left: 65px;
	margin-right: 65px;
	margin-top: 15px;
}

.becomeachef {
	border: 2px solid #eea032;
	padding-bottom: 40px;
	margin-left: 65px;
	margin-right: 65px;
	margin-top: 15px;
}


.featuredchef {
	border: 2px solid #eea032;
	padding-bottom: 40px;
	margin-left: 65px;
	margin-right: 65px;
	margin-top: 15px;
}

.featuredmeal > h3 {
	margin-bottom: 20px;
	font-weight: bold;
}

.featuredchef > h3 {
	margin-bottom: 20px;
	font-weight: bold;
}

.circleclass {
	border-radius: 50%;
	height: 180px;
	width: 160px;
	border: 2px double #eea032;
}

.position {
	margin-bottom: 60px;
}

@media (max-width: 768px) {
	.circleclass {
		height: 110px;
		width: 100px;
		padding-left: -20px;
	}
}

@media (max-width: 768px) {
	.featuredmeal > img {
		border-radius: 10px;
		height: 10em;
		width: 12em;
		margin-bottom: -20px;
		margin-top: -5px;
	}
	.featuredchef > img {
		height: 10em;
		width: 12em;
		border-radius: 10px;
		margin-bottom: -20px;
		margin-top: -5px;
	}
	.featuredmeal h3 {
		font-size: 16px;
	}
	.featuredchef h3 {
		font-size: 16px;
	}
	.mealsbigger {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 40px;
	}
	.chefsbigger {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
}

@media (min-width: 768px) {
	.featuredmeal > img {
	height: 315px;
	width: 315px;
	border-radius: 10px;
	}
	.featuredchef > img {
	height: 315px;
	width: 315px;
	border-radius: 10px;
	}
}	

@media (device-width: 320px) {
	.featuredmeal > img {
		border-radius: 10px;
		height: 8em;
		width: 9em;
		margin-bottom: -20px;
		margin-top: -5px;
	}
	.featuredchef > img {
		height: 8em;
		width: 9em;
		border-radius: 10px;
		margin-bottom: -20px;
		margin-top: -5px;
	}
	.featuredmeal > h3 {
		font-size: 12px;
	}
	.featuredchef > h3 {
		font-size: 12px;
	}
}

.entitled {
	border: 2px solid #eea032;
	margin-bottom: 20px;
}


.checkbox {
	width: 30px;
	height: 30px;
	background-color: #ddd;
	position: relative;
	margin-top: 20px;
	margin-bottom: 20px;
}

@media (min-width: 768px) {
	.checkbox {
		margin-left: 60px;
	}
	.checkbox p {
		margin-left: 40px;
	}
}
 
.checkbox input[type="checkbox"] {
	visibility: hidden;
}

.checkbox label {
	width: 28px;
	height: 28px;
	position: absolute;
	top: 1px;
	left: 1px;
	background-color: white;
	cursor: pointer;
}

.allothercheckbox {
	font-size: 16px;
	padding-top: 5px;
}


.checkbox label:before {
	content: '';
	width: 13px;
	height: 9px;
	border: 3px solid white;
	position: absolute;
	border-top: none;
	border-right: none;
	transform: rotate(-45deg);
	top: 8px;
	left: 8px;
	opacity: 0;
}

.checkbox input[type="checkbox"]:checked + label:before {
	opacity: 1;
}

.checkbox input[type="checkbox"]:checked + label {
	background-color: #eea032;
}

.checkcuisine {
	font-size: 24px;
	margin-left: 60px;
	margin-top: 1em;
}

.checkcuisine::after {
	border: 1px solid #eea032;
    content: '';
    display: block;
    width: 4em;
    margin-top: 10px;
}

@media (max-width: 768px) {
	.checkcuisine {
		margin-left: 13%;
	}
	.checkbox {
		margin-left: 13%;
	}
	.checkbox p {
		padding-left: 40px;
	}
}

.cookingtime {
	font-size: 12px;
}

.multiselect {
    margin: 20px 20px;
    width: 310px;
    margin-left: 95px;
      }

 @media (max-width: 768px) {
	.multiselect {
		margin-left: 5px;
	}
 }

    .selectBox {
        padding: 15px 15px;
        font-size: 18px;
        position: relative;
        padding-left: 75px;

    }
    .selectBox select {
        width: 100%;
        font-weight: bold;
    }
    .overSelect {
        position: absolute;
        left: 0; right: 0; top: 0; bottom: 0;
    } 

.multiselect-2 {
  margin-top: -35px;
}


#checkboxes {
  background-color: rgb(245, 245, 245);
  margin-top: -15px;
  margin-left: 75px;
  padding-top: 5px;
  width: 220px;
  padding-bottom: 10px;
}

#checkboxes-1 {
  background-color: rgb(245, 245, 245);
  margin-top: -15px;
  margin-left: 75px;
  padding-top: 5px;
  width: 220px;
  padding-bottom: 10px;
}

#checkboxes-2 {
  background-color: rgb(245, 245, 245);
  margin-top: -15px;
  margin-left: 75px;
  padding-top: 5px;
  width: 220px;
  padding-bottom: 10px;
}

.checkbox {
  width: 30px;
  height: 30px;
  background-color: #ddd;
}


#checkboxes label {
        display: block;
    }

.img__margin__sizing {
	margin-top: 6em;
}

.img__margin__sizing img {
	height: 150px;
	width: 150px;
	border: 2px double #eea032;
	border-radius: 15px;
	position: relative;
}

.images-col-1 {
	margin-left: -1.5em;
}

.img__spacing {
	margin-top: -2em;
	margin-left: 8em;
	margin-right: -5em;
	margin-bottom: 7em;
}


.img-general {
	height: 220px;
	width: 220px;
	border-radius: 10px;
	position: relative;
	background-size: 100% 100%
}

.banner__text-box-2 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.8);
    text-align: center;
    line-height: 10px;
    font-weight: bolder;
	padding-bottom: 5px;
	padding-top: 5px;
}

.img__banner-1 {
	background-image: url("https://pleasureinlearning.files.wordpress.com/2014/08/fries_20and_20burger_1_.jpg");
}

.img__banner-2 {
	background-image: url("http://images3.backpage.com/imager/u/large/54285926/07.jpg");
}

.img__banner-3 {
	background-image: url("http://www.northjersey.com/polopoly_fs/1.698215!/fileImage/httpImage/chinesefood-050913-sb-tif.jpg");
}

.img__banner-4 {
	background-image: url("http://www.szechuangardenkemah.com/wp-content/uploads/2015/04/Chinese-General-Tso-Chicken12.jpg");
}

.img__banner-5 {
	background-image: url("http://lafenicegelato.com/wp-content/uploads/2014/09/crepes-with-chocolate.jpg");
}

.img__banner-6 {
	background-image: url("http://images.wisegeek.com/quiche.jpg");
}

.img__banner-7 {
	background-image: url("http://www.bestofindiamn.com/custom/1.jpg");
}

.img__banner-8 {
	background-image: url("http://bollywoodrestaurant.ca/wp-content/uploads/2015/07/Chana-Bhatura-Bollywood-Restaurant-Brampton-Canada.jpg");
}

.img__banner-9 {
	background-image: url("http://mummieslist.com/blog/wp-content/uploads/2015/07/pizza.jpg");
}

.img__banner-10 {
	background-image: url("http://photo.elsoar.com/wp-content/images/Italian-Pasta-Dishe-I.jpg");
}

.img__banner-11 {
	background-image: url("http://33xlkmrogb473k7z1dknkdmx.wpengine.netdna-cdn.com/wp-content/uploads/2016/05/sushi7.jpg");
}

.img__banner-12 {
	background-image: url("http://search.chow.com/thumbnail/1280/800/www.chowstatic.com/assets/2014/09/30551_easy_teriyaki_chicken_3000x2000.jpg");
}

.img__banner-13 {
	background-image: url("https://cbspittsburgh.files.wordpress.com/2012/04/tacos.jpg");
}

.img__banner-14 {
	background-image: url("http://www.kowalskis.com/sites/kowalskis.com/files/chicken-enchiladas.jpg");
}

.img__banner-15 {
	background-image: url("http://uvmbored.com/wp-content/uploads/2015/11/Thai-Food.jpg");
}

.img__banner-16 {
	background-image: url("http://www.bbcgoodfood.com/sites/default/files/styles/teaser_item/public/recipe_images/recipe-image-legacy-id--593_11.jpg?itok=2xY8ZkkL");
}

.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ui group */

.ui-group {
  display: inline-block;
}

.ui-group .checkbox-group {
	display: inline-block;
}

.checkbox-group:after {
	content: '';
	display: block;
	clear:both;
}

.defaulttime {
	font-size: 14px;
	padding-top: 5px;
}

.banner__text-box-2 > h4 {
	font-size: 24px;
	margin-bottom: -1px;
	margin-top: -1px;
	letter-spacing: 4px;
}

.banner__text-box-2 > p {
	margin-top: 5px;
	letter-spacing: 1px;
}

a.hideDisplay {
	position: relative;
	z-index: 20;
	color: black;
	text-decoration: none;
}

a.hideDisplay:hover {
	z-index: 30;
}

a.hideDisplay span.showdisplayonhover {
	display:none;
	position: absolute;
	font-size: 16px;
	line-height: 25px;
	left: 8.9em;
	width: 13.8em;
	height: 14em;
	font-weight: bold;
	border-radius: 15px;
	margin-left: -30px;
	background-color: rgba(245, 245, 245, 0.95);
	margin-top: -31px;
}

a.hideDisplay:hover span.showdisplayonhover {
	display: block;
}


span.showbodyofdisplayonhover {
	font-size: px;
	font-weight: normal;
}

span.showdisplayonhover {
	font-size: 24px;
}

.stars {
	margin-left: 10px;
	font-weight: bolder;
}

.iconsize {
	width: 150px;
	height: 150px;
	padding: 5px;
}

@media (max-width: 768px) {
	.iconparagraph {
		margin-bottom: 2em;
		margin-top: -.3em;
	}
	.iconheader {
		margin-top: -.3em;
	}
}

.picture-container img {
	border: 2px solid #eea032;
}

.iconheader {
	letter-spacing: 2px;
}

.iconparagraph {
	font-size: 20px;
}

.moveituphowitworks {
	margin-top: 1.3em;
}

.domocheflogo {
	height: 80px;
	width: 80px;
	margin-top: -20px;
}

@media (max-width: 768px) {
	.domocheflogo {
		margin-top: -1.4em;
	}
}

.signupfooter {
	margin-top: 2em;
}

@media (max-width: 768px) {
	.findyourchef {
		width: 80%;
		margin-right: auto;
		margin-left: auto;
		margin-top: 2.5em;
		border-radius: 10px;
		padding-left: 1em;
		padding-right: 1em;
	}

	.findyourchef > h3 {
		font-size: 22px;

	}
	.becomeachef {
		width: 80%;
		margin-right: auto;
		margin-left: auto;
		margin-top: 2.8em;
		border-radius: 10px;
		padding-left: 1em;
		padding-right: 1em;
	}
	
	.becomeachef > h3 {
		font-size: 22px;
	}
}